PORT = 3000

DB_CONNECTION_NAME="Enter DB Name"
DB_CONNECTION_USERNAME="Enter DB Username"
DB_CONNECTION_PASSWORD="Enter DB Password"

CRYPTOJS_EMAIL_KEY=" insert a key : lowercase & numbers at least 12 characters (preferably UUID V4) "
JWT_TOKEN=" insert a token : lowercase & numbers at least 12 characters (preferably UUID V4) "